<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/todos.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <title>Todo-List</title>
</head>
<body>
     <div class="logout">
         <form action="/logout" method="POST">
             <input class="btn btn-default" type="submit" name="logout" value="logout">
        </form>
     </div>

    <div class="container">
        <h1>TO-DO LIST<i class="fas fa-pencil-alt"></i></h1>
             <ul>
                 {% for todo in todos %}
                     {% if todo.completed == True %}
                         <li> <del>{{todo.content}}</del></li>
                    {% else %}
                 <li>{{todo.content}}</li>
                <form action="/complete" method="POST">
                    <button class="complete" type="submit" name="todoId" value={{todo.id}}>Complete</button>
                </form>
                    {% endif %}
                <form action="/delete" method="POST">
                    <button class="delete" type="submit" name="todoId" value={{todo.id}}>Delete</button>
                </form>
                 {% endfor %}
            </ul>
            <form action="/add" method="POST">
                <input type="text" placeholder="Enter todo" name="TODO">
                <input class="btn btn-default" type="submit" value="Add">
            </form>
        </div>


</body>


</html>