@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
	background-image: url(background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 6%;
	background-attachment: fixed;
}

h1 {
	color: #c1929c;
	font-family: 'Bad Script', cursive;
	text-align: center;
	font-size: 35px;
	letter-spacing: 5px;
	margin-bottom: 0px;
}

hr {
	width: 30%;
	margin-bottom: 30px;
}

.info {
	width: 50%;
	background-color: #fff;
	margin-left: 15px;
	padding: 20px;
	border: 5px solid #c1929c;
	font-family: 'Montserrat', sans-serif;
}

span {
	color: #65698e;
	letter-spacing: 2px;
	line-height: 35px;
}

.todo-link {
	padding: 10px;
	margin: 10px auto;
	text-decoration: none;
}
